@media(max-width:4000px) {
  .footer {
    height:500px;
  }
  .footer__block1,.footer__block2,.footer__block3,.footer__block4 {
    font-size:30px;
  }
  .footer__block1-image {
    width:400px;
    height:200px;
  }
  .contacts {
    justify-content:center;
    max-height:100vh;
  }
  .solutions__wrap {
    max-height:100vh;
    justify-content: center;
  }
  .login {
    max-height:100vh;
    align-items: center;
  }
}
@media(max-width:1920px) {
.footer {
  height:300px;
}
.footer__block1,.footer__block2,.footer__block3,.footer__block4 {
  font-size:18px;
}
.footer__block1-image {
  width:100%;
  height:100%;
}
.contacts {
  justify-content: inherit;
  height:100%;
}
.solutions__wrap {
  height:normal;
}
.login {
  height:normal;
  align-items: none;
}
}
@media(max-width:1440px) {
    /* Index.html */
.header__logo {
    margin-left:0px;
}
.header__menu{
    margin:0 auto;
    font-size:18px;
}
.header__menu-item {
    margin-right: 40px;
  }
.container .left-clip__main-block {
    right:35%;
  }
.container .left-clip .block-text__text-1 {
    font-size:40px;
    margin-bottom:30px;
  }
.container .left-clip .block-text__text-2 {
    margin-bottom:25px;
  }
.container .left-clip .block-text__buttons{
    display:flex;
    flex-flow:column;

  }
.container .left-clip .block-text__buttons-first{
    margin-bottom:30px;
  }
.container .advantages__h1 {
    font-size:40px;
  }
.container .advantages__circles-block{
    margin-left:80px;
  }
.container .product h1 {
    font-size:40px;
    margin:140px 0px 50px 90px;
  }
.container .product__all {
    right:90px;
  }
.container .slider {
    width:95%;
  }
.projects__h1 {
    font-size:40px;
  }
.projects__block {
    width:98%;
  }
.projects__arrow-left {
    margin-right:30px;
  }
.projects__arrow-right {
    margin-left:30px;
  }
.footer__block1 {
    margin-left:50px;
    font-size:16px;
  }
.footer__block2 {
    font-size:16px;
  }
.footer__block3 {
    font-size: 16px;
  }
.footer__block4 {
    font-size:16px;
  }
.footer__block4--left {
    margin-right:20px;
  }

  /* production.html */
.container__prod h1 {
    font-size:40px;
  }
.container__prod .prodkm ,.container__prod .prodtp,.container__prod .prodkl {
    position:relative;
    flex-flow:column;
    align-items: center;
    height:normal;
    height: 100%;
    width: 60%;
  }
.container__prod .prodkm__slider,.container__prod .prodtp__slider, .container__prod .prodkl__slider {
    margin:50px 0px 0px 0px;
    position:relative;
  }
  .container__prod .prodkm__slider--mobile, .container__prod .prodtp__slider--mobile,.container__prod .prodkl__slider--mobile{
    display:flex;
    flex-flow:column;
  }
  .prodkm__slider-mobile--large,.prodtp__slider-mobile--large,.prodkl__slider-mobile--large {
    display:flex;
    width:300px;
  }
.container__prod .prodkm__slider--img,.container__prod .prodtp__slider--img,.container__prod .prodkl__slider--img {
    width: 450px;
    height: 560px; 
}
.container__prod .prodkm--h2,.container__prod .prodtp--h2,.container__prod .prodkl--h2{
 position:absolute;
 margin:0;
 top:50px;
 left:50%;
 transform:translate(-50%, -50%);
} 
.container__prod .prodkm__slider--span,.container__prod .prodtp__slider--span,.container__prod .prodkl__slider--span{
  display:none;
}
/* мобильные селекторы */
.container__prod .prodkm__slider--span-mobile,.container__prod .prodtp__slider--span-mobile,.container__prod .prodkl__slider--span-mobile {
  display: flex;
  position:absolute;
  bottom:10px;
  left:50%;
  transform:translate(-50%);
}
.container__prod .prodkm__slider--span1-mobile,.container__prod .prodtp__slider--span1-mobile,.container__prod .prodkl__slider--span1-mobile {
  width: 12px;
  height: 12px;
  background: #383838;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.container__prod .prodkm__slider--span2-mobile,.container__prod .prodtp__slider--span2-mobile,.container__prod .prodkl__slider--span2-mobile {
  cursor: pointer;
  width: 12px;
  margin-right: 10px;
  height: 12px;
  background: #EAEAEA;
  border-radius: 100%;
}
.container__prod .prodkm__slider--img,.container__prod .prodtp__slider--img,.container__prod .prodkl__slider--img  {
  width:320px;
  height:320px;
  background:url(images/product.png);
  position:relative;
}
.container__prod .prodkm__slider--img img,.container__prod .prodtp__slider--img img,.container__prod .prodkl__slider--img img {
  display:none;
}
.container__prod .prodkm__text-large,.container__prod .prodtp__text-large,.container__prod .prodkl__text-large {
  display:none;
}
.container__prod .prodkm__slider-mobile--large,.container__prod .prodtp__slider-mobile--large,.container__prod .prodkl__slider-mobile--large {
  display:flex;
  align-self:center;
  width:420px;
  height:66px;
  font-family:"Rubik", sans-serif;
  font-size:20px;
  color:#1E1E1E;
  margin:20px 0px ;
}
.container__prod .prodkm__border,.container__prod .prodtp__border,.container__prod .prodkl__border {
  display:none;
}
.container__prod .prodkm--button,.container__prod .prodtp--button,.container__prod .prodkl--button {
  height:60px;
  width:360px;
  background: #019801;
  border-radius: 30px;
  cursor: pointer;
  margin:0px 0px 25px 0px;
}


/* Страница заказа */
.container__more  {
  display:none;
}
.prod-mobile__wrapper {
  display:flex;
  flex-flow:column;
  align-items: center;
  width:90%;
}
.prod-mobile__slider-text {
  display:flex;
  flex-flow:column;
  align-items: center;
  width:90%;
}
.prod-mobile__list-adv {
  display:none;
  
}
.prod-mobile__advantages-checkbox:checked~.prod-mobile__list-adv{
  display:block;
}
.prod-mobile__list-apl {
  display:none;
}
.prod-mobile__application-checkbox:checked~.prod-mobile__list-apl {
  display:block;
}
.prod-mobile__table-stats {
  display:none;
}
.prod-mobile__stats-checkbox:checked~.prod-mobile__table-stats {
  display:block;
}
.prod-mobile__stats-checkbox:checked~.prod-mobile__title-stats {
display:flex;
font-size:20px;

}
.prod-mobile__checklist {
  border:1px solid;
}
/* Стилизация продукции */
.prod-mobile  {
  background:#EAEAEA;
  display:flex;
  justify-content: center;
}
.prod-mobile__wrapper {
  background:white;
  margin:40px 0px;
}
/* слайдер */
.prod-mobile__title {
  font-family: "Rubik", sans-serif;
  font-size:20px;
  color:#1E1E1E;
  font-weight:500;
  margin:25px 0px 20px 0px;
}
.prod-mobile__slider {
  display:flex;
  align-items: center;
  width:100%;
  justify-content: center;
}
.prod-mobile__slider--leftarr {
  width:20px;
  height:30px;
  margin-right:20px;
}
.prod-mobile__slider--img {
  position:relative;
  }
.prod-mobile__slider--image1 {
 display:grid;
  width: 100%;
} 
.prod-mobile__slider--span-mobile {
  display:flex;
  position:absolute;
  left:50%;
  transform:translate(-50%);
  bottom:10px;
}
.prod-mobile__slider-text {
  display:flex;
  width:60%;
}
.prod-mobile__slider--span1-mobile {
  width:15px;
  height:15px;
  background:#383838;
  margin-right:5px;
  border-radius:100%;
  cursor:pointer;
} 
.prod-mobile__slider--span2-mobile {
  width:15px;
  height:15px;
  background:white;
  border-radius:100%;
  cursor:pointer;
}
.prod-mobile__slider--rightarr {
  width:20px;
  height:30px;
  margin-left:20px;
}
.prod-mobile__slider-text--large {
  margin:20px 0px 30px 0px;
  font-family:"Rubik", sans-serif;
  font-size:16px;
  line-height: 140%;
  min-width:240px;
  max-width:60%;
} 
.prod-mobile__buttons {
width:100%;
display:flex;
flex-flow:column;
justify-content: center;
align-items: center;
}
.prod-mobile__check-button {
  width:100%;
  display:flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
}
.prod-mobile__checklist {
  display:flex;
  width:90%;
  align-items: center;
  justify-content: center;
  font-family:"Rubik", sans-serif;
  font-size:14px;
  border:1px #019801 solid;
  border-radius:35px;
  color:#019801;
  height:50px;
  margin-bottom:20px;
}
#prod-mobile--stats {
  margin-bottom:15px;
}
.prod-mobile__button--get {
  display:flex;
  width:100%;
  justify-content: center;
} 
.prod-mobile__button-get {
  width:90%;
  height:50px;
  border:none;
  background:green;
  border-radius:45px;
  font-family:"Rubik", sans-serif;
  font-size:16px;
  font-weight:500;
  color:white;
  margin:15px 0px 25px 0px;
}
.prod-mobile__list-adv li{
  margin:15px 0px 20px 0px;
  line-height:15px;
  font-family:"Rubik", sans-serif;
  color:#1E1E1E;
}
.prod-mobile__list-apl li{
  margin:15px 0px 20px 0px;
  line-height:15px;
  font-family:"Rubik", sans-serif;
  color:#1E1E1E;
}
.prod-mobile__item-title {
  font-family:"Rubik", sans-serif;
  color:#1E1E1E;
  border-collapse: collapse;
}
.prod-mobile__table-stats {
  margin:20px 20px 15px 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  width:80%;;
  font-family: "Rubik", sans-serif;
  font-size:14px;
  align-self:center;
}
  td{
  border:1px solid rgb(167, 167, 167);
 }

.more__first-column--mobile {
  padding:0px 0px 0px 10px;
  color:#1E1E1E;
  width:70%;
  height:50px;
}
.more__second-column--mobile {
  padding:0px 0px 0px 10px;
  color:#1E1E1E;
}
.more__first-title--mobile{
  padding:0px 0px 0px 10px;
  width:50%;
  height:50px;
  color:#1E1E1E;
  font-weight:500;
}
.more__second-title--mobile{
  padding:0px 0px 0px 10px;
  color:#1E1E1E;
  font-weight:500;
  width:50%;
  height:50px;
  font-size:16px;
}
.prod-mobile__title-stats {
  font-family: "Rubik", sans-serif;
  font-size:16px;
  color:#1E1E1E;
}
/* Контакты */
.contacts__block {
display:flex;
flex-flow:column;
align-items: center;
width:50%;
font-size:15px;
}
.login .block__title {
font-size:20px;
margin:25px 0px 25px 0px;
}
.login .block__inputs .block__input,.login .block__button {
  width:240px;
  height:50px;
  font-size: 16px;
  margin:10px;
}
.login .block__policy {
  font-size:15px;
}
.contacts__title {
  font-size:26px;
  margin:40px 0px 30px 0px;
}
.contacts .block {
  margin:0px 0px 40px 0px;
  padding:25px 30px;
  width:90%;
}
.contacts .block__map {
  margin:0px 0px 40px 0px;
  align-self: flex-start;
}
.contacts .block__info {
  margin:0px 0px 0px 0px;
  width:100%;
}
.contacts .block__info-adress--text {
width:100%;
margin-bottom:30px;
}
iframe {
  width:100%;
  height:300px;
}
/* Логин */

/* Технические решения */
.solutions__blocks {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width:70%;
  margin-bottom: 150px;
}
.solutions__title {
  font-size:26px;
  width:50%;
  text-align: center;
  justify-content: center;
  margin:40px 0px 30px 0px;
}
.solutions .block {
  width:90%;
}
.solutions .block__subtitle {
  margin:25px 150px 60px 35px;
  font-size:18px;
}
.solutions .block__btn {
  margin: 0px 0px 55px 35px;
  width: 160px;
  height: 40px;
  font-size:16px;
}
/* Проекты */
.projects__piccolo-text {
  width:100%;
  margin:0px;
  text-align:left;
  font-size:22px;
  padding:13px 0px 13px 25px;
  position:relative;
}
.projects__h1--page {
  font-size:26px;
  margin:40px 0px 30px 0px;
}
.projects__piccolo,.projects__piccolo--mini,.projects__piccolo--midi,.projects__piccolo--maxi {
  background:none;
  height:100%;
}
.projects__block {
  width:100%;
}
.projects__piccolo--image {
  display:flex;
  width:100%;
}
.projects__piccolo-arr--whitel {
  display:block;
  position:absolute;
  left:25px;
  top:50%;
  transform:translateY(-50%);
}
.projects__piccolo-arr-whiter {
  display:block;
  position:absolute;
  right:25px;
  top:50%;
  transform:translateY(-50%);
}
.projects__arrow-right {
  display:none;
}
.projects__arrow-left {
  display:none;
}
.projects__selectors-item--black,.projects__selectors-item {
  width:12px;
  height:12px;
}
.containter__projects {
  position:relative;
}
.projects__selectors,.projects__selectors--last {
  margin:0px;
  position:absolute;
  bottom:10px;
}
.projects__piccolo-block,.projects__piccolo-block--mini,.projects__piccolo-block--midi,.projects__piccolo-block--maxi{
  position:relative;
  height:100%;
  margin:0px 0px 30px 0px;
}
.projects__piccolo-block--maxi{
  margin-bottom:50px;
}
.projects__button {
  margin:30px 0px 50px 0px;
  position:relative;
  left:50%;
  transform:translate(-50%);
}
}

/* 1024px  !!!!!!!!!!*/  

@media(max-width:1024px) {
  /* ГЛАВНАЯ index.html */
  .container__clip{
    display:flex;
    flex-flow:column;
   }
   .container__clip{
     display:none;
   }
   .container__clip--mobile {
      display:flex;
      flex-flow:column;
   }
   .container__clip-img-mobile {
    width:100%;
    height:400px;
   }
   .container__clip-second--mobile {
    background:#383838;
    display:flex;
    width:100%;
    height:100%;
    flex-flow:column;
    align-items: center;
    text-align: center;
   }
   .block-text__text-1{
    font-size:26px;
    font-family: "Rubik", sans-serif;
    width:90%;
    font-weight:600;
    color:white;
    margin:30px 0px 20px 0px;
   }
   .block-text__text-2 {
    font-family:"Rubik", sans-serif; 
    color:white;
    margin:0px 25px 30px 25px;
   }
   .block-text__buttons--mobile{
    display:flex;
    flex-flow:column;
   }
   .block-text__buttons-first--mobile,.block-text__buttons-second--mobile {
    text-align:center;
    font-family:"Rubik", sans-serif; 
    font-size:16px;
    font-weight:500;
    color:white;
    background:#019801;
    width:310px;
    height:50px;
    border:none;
    border-radius:45px;
    margin:0px 0px 20px 0px;
    cursor:pointer;
   }
   .block-text__buttons-second--mobile {
    margin-bottom:40px;
   }
   /* Наши преимущества */
   .container .advantages__h1 {
    font-size:26px;
    margin:40px 0px 30px 0px;
   }
   .container .advantages__circles{
    display:flex;
    flex-flow:column;
    align-items: center;
    align-self:center;
    margin:0px 0px 40px 25px;
   }
   .container .advantages__circles-block {
    margin:0px 0px 25px 0px;
    flex-flow:row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
   }
   .container .advantages__circles-image{
    width:80px;
    height:80px;
   }
   .container .advantages__circles-image img {
    width:50%;
    height:50%
   }
   .container .advantages__circles-block p  {
    font-size:18px;
    margin:0px 0px 0px 20px;
   }
   /* Продукция */
   .slider__arrow-right,.slider__arrow-left {
    display:none;
   }
   .container .product h1 {
    margin:50px 0px 35px 0px;
    align-self: center;
    font-size:26px;
   }
   .container .slider {
    flex-flow:column;
    width:70%;
    height:100%;
    align-items: center;
    margin:0px;
    justify-content: center;
   }
   .container .slider__item--km, .container .slider__item--kl, .container .slider__item--tp, .container .slider__item--km2{
    width:100%;
    margin:0px 0px 25px 0px;
    height:600px;
   }
   .container .slider__item--km a, .container .slider__item--kl a, .container .slider__item--tp a, .container .slider__item--km2 a{
    font-size:18px;
    padding:15px;
   }
   .product__all {
    display:none;
   }
   .slider__button-all--link {
    display:flex;
   }
   .slider__button-all{
    width: 220px;
    height: 60px;
    background-color: #019801;
    color:white;
    font-size:16px;
    font-family:"Rubik", sans-serif;
    border:none;
    border-radius:45px;
    margin:5px 0px 40px 0px;
    cursor:pointer;
   }
  /* Проекты */  
  .projects__button {
    margin:30px 0px 50px 0px;
  }
    .projects__h1 {
      margin:40px 0px 30px 0px;
      font-size:26px;
    }
  
/* Шапка */
.header__menu-list  {
  display:none;
}
.header {
  display:flex;
  align-items: center;
  height:100%;
  width:100%;
  z-index:40;
  position:relative;
}
  .header__logo{
    width:130px;
    height:80px;
    margin:0px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    top:15px;
  }
  .header__logo img {
    width:130px;
    height:80px;
  }
  .header__menu-list {
    margin:0px;
    font-size:18px;

  }
  .header__menu-item {
      margin:0px 0px 20px 25px; 
  }
  .header__menu-iteml {
      margin: 0px 0px 40px 25px;
  }
   .header__menu-item--mobile {
      font-size:18px;
      margin:0px 0px 10px 25px;
      display:block;
   }
   .header__menu-item--mobile a  {
      text-decoration: none;
   }
   .header__menu-item--mobile2 {
    font-size:18px;
    margin:0px 0px 40px 25px;
    display:block;
   }
    .header__menu-logo--mobile {
      display:flex;
      font-size:40px;
      color:#019801;
      margin:40px 0px 40px 25px;
}
  .header__menu--mobile:checked~.header__menu-list  {
    display:flex;
    flex-flow:column;
}
/* ФУТЕР */
.footer {
  flex-flow:column;
  align-items: center;
  justify-content: center;
  height:100%;
  background: #383838;
}
.footer__block1 {
margin:0px;
}
.footer__blocks {
  justify-content: center;
  width:33%;
}
.footer__block1-image {
  margin:30px 0px 30px 0px;
}
.footer__block3{
  display:none;
}
.footer__block1--text {
  display:none;
}
.footer__block4 {
  display:none;
}
.footer__block2--mobile {
  display:flex;
}

/* production.html */

.container__prod h1{
  font-size:26px;
  margin:40px 0px 30px 0px;
}
.container__prod .prodkm ,.container__prod .prodtp,.container__prod .prodkl {
  height: 100%;
  width: 90%;
}
.container__prod .prodkm__slider,.container__prod .prodtp__slider, .container__prod .prodkl__slider {
  width:90%;
  align-self: center;
  margin:20px 0px 0px 0px;
}
.container__prod .prodkm__slider--mobile, .container__prod .prodtp__slider--mobile,.container__prod .prodkl__slider--mobile{
  width:90%;
}
.prodkm__slider-mobile--large,.prodtp__slider-mobile--large,.prodkl__slider-mobile--large {
  height:100%;
  margin:0px;
}
.container__prod .prodkm--h2,.container__prod .prodtp--h2,.container__prod .prodkl--h2{
width:100%;
text-align: center;
font-size:18px;
top:25px;
} 
.container__prod .prodkm__slider--span,.container__prod .prodtp__slider--span,.container__prod .prodkl__slider--span{
display:none;
}
.prodkm__slider--imgspan,.prodkl__slider--imgspan,.prodtp__slider--imgspan {
  width:100%;
  
}
.container__prod .prodkm__slider--img,.container__prod .prodtp__slider--img,.container__prod .prodkl__slider--img  {
width:100%;
height:500px;
}
.container__prod .prodkm__slider--img img,.container__prod .prodtp__slider--img img,.container__prod .prodkl__slider--img img {
display:none;
}
.container__prod .prodkm__text-large,.container__prod .prodtp__text-large,.container__prod .prodkl__text-large {
display:none;
}
.container__prod .prodkm__slider-mobile--large,.container__prod .prodtp__slider-mobile--large,.container__prod .prodkl__slider-mobile--large {
width:90%;
height:100%;
font-size:18px;
}
.container__prod .prodkm--button,.container__prod .prodtp--button,.container__prod .prodkl--button {
height:60px;
width:240px;
}
}
/* 650px */
@media (max-width:650px) {
  .container__prod .prodkm__slider--img,.container__prod .prodtp__slider--img,.container__prod .prodkl__slider--img  {
    width:100%;
    height:250px;
    }
    .container .advantages__circles {
      align-self: flex-start;
    }
    .container .slider__item--km, .container .slider__item--kl, .container .slider__item--tp, .container .slider__item--km2 {
      height:300px
    }
}
/* 440px  */

@media (max-width:440px) {
  .prod-mobile__table-stats {
    position:relative;
    left:-15%;
  }
  .container__prod .prodkm__slider--img,.container__prod .prodtp__slider--img,.container__prod .prodkl__slider--img  {
    width:100%;
    height:180px;
    }
}

