@media(max-width:1440px) {
    /* Index.html */
.header__logo {
    margin-left:0px;
}
.header__menu{
    margin:0px;
    font-size:18px;
}
.header__menu-item {
    margin-right: 40px;
  }
.container .left-clip__main-block {
    right:35%;
  }
.container .left-clip .block-text__text-1 {
    font-size:40px;
    margin-bottom:30px;
  }
.container .left-clip .block-text__text-2 {
    margin-bottom:25px;
  }
.container .left-clip .block-text__buttons{
    display:flex;
    flex-flow:column;

  }
.container .left-clip .block-text__buttons-first{
    margin-bottom:30px;
  }
.container .advantages__h1 {
    font-size:40px;
  }
.container .advantages__circles-block{
    margin-left:80px;
  }
.container .product h1 {
    font-size:40px;
    margin:140px 0px 50px 90px;
  }
.container .product__all {
    right:90px;
  }
.container .slider {
    width:95%;
  }
.projects__h1 {
    font-size:40px;
  }
.projects__block {
    width:98%;
  }
.projects__arrow-left {
    margin-right:30px;
  }
.projects__arrow-right {
    margin-left:30px;
  }
.footer__block1 {
    margin-left:50px;
    font-size:16px;
  }
.footer__block2 {
    font-size:16px;
  }
.footer__block3 {
    font-size: 16px;
  }
.footer__block4 {
    font-size:16px;
  }
.footer__block4--left {
    margin-right:20px;
  }

  /* production.html */
  
.container__prod h1 {
    font-size:40px;
  }
.container__prod .prodkm {
    position:relative;
    flex-flow:column;
    align-items: center;
    height:normal;
    height: 100%;
    width: 60%;
  }
.container__prod .prodkm__slider {
    margin:50px 0px 0px 0px;
    position:relative;
  }
  .container__prod .prodkm__slider--mobile {
    display:flex;
    flex-flow:column;
    width:90
  }
  .prodkm__slider-text--large-mobile {
    display:flex;
    width:300px;
    align-self:flex-start;
  }
.container__prod .prodkm__slider--img  {
    width: 450px;
    height: 560px; 
}
.container__prod .prodkm--h2{
 position:absolute;
 margin:0;
 top:50px;
 left:50%;
 transform:translate(-50%, -50%);
} 
.container__prod .prodkm__slider--span{
  display:none;
}
/* мобильные селекторы */
.container__prod .prodkm__slider--span-mobile {
  display: flex;
  position:absolute;
  bottom:10px;
  left:50%;
  transform:translate(-50%);
}
.container__prod .prodkm__slider--span1-mobile {
  width: 12px;
  height: 12px;
  background: #383838;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.container__prod .prodkm__slider--span2-mobile {
  cursor: pointer;
  width: 12px;
  margin-right: 10px;
  height: 12px;
  background: #EAEAEA;
  border-radius: 100%;
}
.container__prod .prodkm__slider--img {
  width:320px;
  height:320px;
  background:url(images/product.png);
  position:relative;
}
.container__prod .prodkm__slider--img img {
  display:none;
}
.container__prod .prodkm__text-large {
  display:none;
}
.container__prod .prodkm__slider-mobile--large {
  display:flex;
  align-self:center;
  width:420px;
  height:66px;
  font-family:"Rubik", sans-serif;
  font-size:20px;
  color:#1E1E1E;
  margin:20px 0px ;
}
.container__prod .prodkm__border {
  display:none;
}
.container__prod .prodkm--button {
  height:60px;
  width:360px;
  background: #019801;
  border-radius: 30px;
  cursor: pointer;
  margin:0px 0px 25px 0px;
  
}
}

