* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
* a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  height: 140px;
  width: 100%;
  z-index: 40;
  align-items: center;
}
.header__logo {
  height: 105px;
  width: 200px;
  margin-left: 80px;
}
.header__menu {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
  margin: 0 auto;
}
.header__menu-list {
  display: flex;
  list-style: none;
}
.header__menu-item {
  margin-right: 70px;
}

.container {
  background: #EAEAEA;
}
.container__clip {
  height: 938px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container .left-clip {
  background: #383838;
  -webkit-clip-path: polygon(0 0, 87% 0, 100% 15%, 87% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 87% 0, 100% 15%, 87% 100%, 0 100%, 0% 50%);
  z-index: 5;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.container .left-clip__main-block {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 10%;
  z-index: 10;
  top: 0px;
}
.container .left-clip__main-block--first {
  right: 20%;
  float: right;
  width: 40%;
  z-index: 10;
  height: 100%;
}
.container .left-clip__main-block--second {
  right: 20%;
  float: right;
  width: 50%;
}
.container .left-clip .block-text {
  position: absolute;
  width: 70%;
  left: 115px;
  top: 150px;
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 15;
}
.container .left-clip .block-text__text-1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 140%;
  color: #1E1E1E;
  font-weight: 600;
  text-align: center;
  color: white;
  line-height: 140%;
  margin-bottom: 50px;
}
.container .left-clip .block-text__text-2 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
  color: white;
  width: 60%;
  text-align: center;
  line-height: 140%;
  margin-bottom: 80px;
}
.container .left-clip .block-text__buttons {
  white-space: nowrap;
}
.container .left-clip .block-text__buttons-first, .container .left-clip .block-text__buttons-second {
  height: 90px;
  cursor: pointer;
  width: 340px;
  font-weight: 500;
  color: white;
  border-radius: 45px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-right: 20px;
  background-color: #019801;
}
.container__right-clip {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(images/right-clip.png) no-repeat center/cover;
  height: 100%;
  width: 50%;
}
.container .advantages {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}
.container .advantages__h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 140%;
  color: #1E1E1E;
  margin: 140px 0px 100px 0px;
  color: #383838;
}
.container .advantages__circles {
  display: flex;
  margin-bottom: 140px;
}
.container .advantages__circles-block:first-child {
  margin-left: 0px;
}
.container .advantages__circles-block {
  display: flex;
  margin-left: 160px;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.container .advantages__circles-image {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100%;
}
.container .advantages__circles p {
  margin-top: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  line-height: 140%;
  color: #1E1E1E;
  font-weight: 500;
}
.container .product {
  background: white;
  position: relative;
  display: flex;
  flex-flow: column;
}
.container .product h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 140%;
  color: #1E1E1E;
  color: #383838;
  font-weight: 600;
  margin: 140px 0px 80px 250px;
  position: relative;
}
.container .product__all {
  position: absolute;
  right: 250px;
  text-decoration: underline;
  top: 185px;
  color: #019801;
  font-family: "Rubik", sans-serif;
  font-size: 22;
  line-height: 140%;
  color: #1E1E1E;
  font-weight: 500;
}
.container .product .slider {
  width: 80%;
  height: 440px;
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
.container .product .slider__arrow-left {
  background: url(images/arrow_left.png) center no-repeat;
  width: 25px;
  height: 40px;
  margin-right: 40px;
  cursor: pointer;
}
.container .product .slider__item--km, .container .product .slider__item--kl, .container .product .slider__item--tp, .container .product .slider__item--km2 {
  height: 100%;
  width: 23%;
  background: url(images/product.png) no-repeat center/cover;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.container .product .slider__item--km a, .container .product .slider__item--kl a, .container .product .slider__item--tp a, .container .product .slider__item--km2 a {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  line-height: 140%;
  color: #1E1E1E;
  font-weight: 500;
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
}
.container .product .slider__arrow-right {
  background: url(images/arrow_right.png) center no-repeat;
  width: 25px;
  height: 40px;
  margin-left: 19px;
  cursor: pointer;
}
.container .projects {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.container .projects__h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 140%;
  color: #1E1E1E;
  font-weight: 600;
  color: #383838;
  margin: 140px 0px 55px 0px;
}
.container .projects__block {
  display: flex;
  width: 85%;
  align-items: center;
}
.container .projects__arrow-left {
  cursor: pointer;
  width: 30px;
  height: 50px;
  background: url(images/arrow_leftB.png) center/cover no-repeat;
  margin-right: 60px;
}
.container .projects__arrow-right {
  cursor: pointer;
  width: 30px;
  height: 50px;
  background: url(images/arrow_rightB.png) center/cover no-repeat;
  margin-left: 60px;
}
.container .projects__piccolo {
  width: 100%;
  height: 800px;
  background: url(images/piccolo.png) center/cover no-repeat;
}
.container .projects__piccolo-text {
  text-align: center;
  display: inline-block;
  padding: 20px 0px;
  width: 33%;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 140%;
  color: #1E1E1E;
  background: white;
  margin-top: 80px;
  color: #383838;
}
.container .projects__selectors {
  height: 16px;
  width: 100px;
  margin: 20px 0px 50px 0px;
  display: flex;
}
.container .projects__selectors-item--black {
  width: 16px;
  margin-right: 10px;
  height: 16px;
  background: #383838;
  cursor: pointer;
  border-radius: 100%;
}
.container .projects__selectors-item {
  cursor: pointer;
  width: 16px;
  margin-right: 10px;
  height: 16px;
  background: white;
  border-radius: 100%;
}
.container .projects__button {
  cursor: pointer;
  width: 220px;
  height: 60px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
  color: white;
  font-weight: 500;
  background: #019801;
  border: none;
  border-radius: 30px;
  margin-bottom: 140px;
}

.footer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #383838;
}
.footer a {
  color: #BDBDBD;
}
.footer__block1 {
  color: #BDBDBD;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.footer__block1-image {
  margin-bottom: 30px;
}
.footer__block2 {
  color: #BDBDBD;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.footer__block2 p {
  margin-bottom: 27px;
}
.footer__block3 {
  color: #BDBDBD;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.footer__block3 p {
  margin-bottom: 27px;
}
.footer__block4 {
  color: #BDBDBD;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  display: flex;
}
.footer__block4--left {
  justify-self: flex-start;
  margin-right: 40px;
}
.footer__block4--left p {
  margin-bottom: 27px;
}
.footer__block4--right {
  justify-self: flex-end;
}
.footer__block4--right p {
  margin-top: 27px;
}

.container__prod {
  background: #EAEAEA;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container__prod h1 {
  margin: 100px 0px 80px 0px;
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 140%;
  color: #1E1E1E;
  font-weight: 600;
  color: #383838;
}
.container__prod .prodkm {
  display: flex;
  background: white;
  margin: 0px 250px 50px 250px;
  height: 400px;
  width: 1420px;
}
.container__prod .prodkm__slider {
  display: flex;
  align-items: center;
  margin: 0px 95px 0px 50px;
}
.container__prod .prodkm__slider--leftarr {
  background: url(images/arr_left-small.png);
  width: 20px;
  height: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.container__prod .prodkm__slider--imgspan {
  display: flex;
  margin: 40px 0px 30px 0px;
  align-items: center;
  flex-flow: column;
}
.container__prod .prodkm__slider--img img {
  width: 220px;
  height: 280px;
}
.container__prod .prodkm__slider--span {
  display: flex;
  margin-top: 20px;
}
.container__prod .prodkm__slider--span1 {
  width: 12px;
  height: 12px;
  background: #383838;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.container__prod .prodkm__slider--span2 {
  cursor: pointer;
  width: 12px;
  margin-right: 10px;
  height: 12px;
  background: #EAEAEA;
  border-radius: 100%;
}
.container__prod .prodkm__slider--rightarr {
  background: url(images/arr_right-small.png);
  width: 20px;
  height: 30px;
  margin: 0px 0px 0px 30px;
  cursor: pointer;
}
.container__prod .prodkm__text {
  display: flex;
  flex-flow: column;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
}
.container__prod .prodkm__text-large {
  width: 460px;
  color: #1E1E1E;
}
.container__prod .prodkm--h2 {
  margin: 40px 0px 20px 0px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  line-height: 140%;
  color: #1E1E1E;
}
.container__prod .prodkm__border {
  width: 1px;
  height: 80%;
  border: 1px solid #EAEAEA;
  align-self: center;
  margin: 0px 70px;
}
.container__prod .prodkm--button-link {
  align-self: center;
}
.container__prod .prodkm--button {
  width: 220px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
  color: white;
  height: 60px;
  border: none;
  background: #019801;
  border-radius: 30px;
  align-self: center;
  margin-right: 75px;
  cursor: pointer;
}
.container__prod .prodkl {
  display: flex;
  background: white;
  margin: 0px 250px 50px 250px;
  height: 400px;
  width: 1420px;
}
.container__prod .prodkl__slider {
  display: flex;
  align-items: center;
  margin: 0px 95px 0px 50px;
}
.container__prod .prodkl__slider--leftarr {
  background: url(images/arr_left-small.png);
  width: 20px;
  height: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.container__prod .prodkl__slider--imgspan {
  display: flex;
  margin: 40px 0px 30px 0px;
  align-items: center;
  flex-flow: column;
}
.container__prod .prodkl__slider--img img {
  width: 220px;
  height: 280px;
}
.container__prod .prodkl__slider--span {
  display: flex;
  margin-top: 20px;
}
.container__prod .prodkl__slider--span1 {
  width: 12px;
  height: 12px;
  background: #383838;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.container__prod .prodkl__slider--span2 {
  cursor: pointer;
  width: 12px;
  margin-right: 10px;
  height: 12px;
  background: #EAEAEA;
  border-radius: 100%;
}
.container__prod .prodkl__slider--rightarr {
  background: url(images/arr_right-small.png);
  width: 20px;
  height: 30px;
  margin: 0px 0px 0px 30px;
  cursor: pointer;
}
.container__prod .prodkl__text {
  display: flex;
  flex-flow: column;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
}
.container__prod .prodkl__text-large {
  width: 460px;
  color: #1E1E1E;
}
.container__prod .prodkl--h2 {
  margin: 40px 0px 20px 0px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  line-height: 140%;
  color: #1E1E1E;
}
.container__prod .prodkl__border {
  width: 1px;
  height: 80%;
  border: 1px solid #EAEAEA;
  align-self: center;
  margin: 0px 70px;
}
.container__prod .prodkl--button-link {
  align-self: center;
}
.container__prod .prodkl--button {
  width: 220px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
  color: white;
  height: 60px;
  border: none;
  background: #019801;
  border-radius: 30px;
  align-self: center;
  margin-right: 75px;
  cursor: pointer;
}
.container__prod .prodtp {
  display: flex;
  background: white;
  margin: 0px 250px 250px 250px;
  height: 400px;
  width: 1420px;
}
.container__prod .prodtp__slider {
  display: flex;
  align-items: center;
  margin: 0px 95px 0px 50px;
}
.container__prod .prodtp__slider--leftarr {
  background: url(images/arr_left-small.png);
  width: 20px;
  height: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.container__prod .prodtp__slider--imgspan {
  display: flex;
  margin: 40px 0px 30px 0px;
  align-items: center;
  flex-flow: column;
}
.container__prod .prodtp__slider--img img {
  width: 220px;
  height: 280px;
}
.container__prod .prodtp__slider--span {
  display: flex;
  margin-top: 20px;
}
.container__prod .prodtp__slider--span1 {
  width: 12px;
  height: 12px;
  background: #383838;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.container__prod .prodtp__slider--span2 {
  cursor: pointer;
  width: 12px;
  margin-right: 10px;
  height: 12px;
  background: #EAEAEA;
  border-radius: 100%;
}
.container__prod .prodtp__slider--rightarr {
  background: url(images/arr_right-small.png);
  width: 20px;
  height: 30px;
  margin: 0px 0px 0px 30px;
  cursor: pointer;
}
.container__prod .prodtp__text {
  display: flex;
  flex-flow: column;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
}
.container__prod .prodtp__text-large {
  width: 460px;
  color: #1E1E1E;
}
.container__prod .prodtp--h2 {
  margin: 40px 0px 20px 0px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  line-height: 140%;
  color: #1E1E1E;
}
.container__prod .prodtp__border {
  width: 1px;
  height: 80%;
  border: 1px solid #EAEAEA;
  align-self: center;
  margin: 0px 70px;
}
.container__prod .prodtp--button-link {
  align-self: center;
}
.container__prod .prodtp--button {
  width: 220px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #1E1E1E;
  color: white;
  height: 60px;
  border: none;
  background: #019801;
  border-radius: 30px;
  align-self: center;
  margin-right: 75px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */