@mixin fonttype($pix:1) {
    font-family: "Rubik", sans-serif;
    font-size:($pix); 
    line-height:140%;
    color:#1E1E1E;
}

* {
    box-sizing:border-box;
    margin:0px;
    padding:0px; 
    a{
        color:black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
// Шапка
.header {
    display:flex;
    height:140px;
    width:100%;
    z-index:40;
    align-items:center;
    // логотип
    &__logo{
        height:105px;
        width:200px;
        margin-left:80px;
    }
    // навигация
    &__menu {
        @include fonttype(20px);
        margin:0 auto;
        &-list {
            display:flex;
            list-style:none;
        }
        &-item {
            margin-right:70px;
        }        
    }
}
.container {
    background:#EAEAEA;
    // блок с черными векторами и изображением
    &__clip {
        height:938px;
        width:100%;
        overflow:hidden;
        position:relative;
    }
    // левая часть изображения (черный фон с векторами) текст и кнопки
    .left-clip {
        background:#383838;
        clip-path: polygon(0 0, 87% 0, 100% 15%, 87% 100%, 0 100%, 0% 50%);
        z-index:5;
        height:100%;
        width:60%;
        display:flex;
        justify-content: flex-start;
        position:relative;
        // Векторный блок на черном фоне
        &__main-block {
            width:40%;
            height:100%;
            position:absolute;
            right:10% ;
            z-index:10;
            top:0px;
            // вектор 1
            &--first {
                right:20%;
                float:right;
                width:40%;   
                z-index:10;         
                height:100%;               
            }
            // вектор 2
            &--second {
                right:20%;
                float:right;
                width:50%;
            }
        }
        .block-text {
            position:absolute;
            width:70%;
            left:115px;
            top:150px;
            display:flex;
            align-items: center;
            flex-flow:column;
            z-index:15;
            &__text-1 {
                @include fonttype( 50px);
                font-weight:600;
                text-align: center;
                color:white;
                line-height: 140%;
                margin-bottom:50px;
            }
            &__text-2 {
                @include fonttype( 20px);
                color:white;
                width:60%;
                text-align: center;
                line-height: 140%;
                margin-bottom:80px;
                
            }
            &__buttons {
                white-space:nowrap;
                &-first,&-second{
                    height:90px;
                    cursor:pointer;
                    width:340px;
                    font-weight: 500;
                    color:white;
                    border-radius:45px;
                    border:none;
                    font-family: "Rubik", sans-serif;
                    font-size:20px;
                    margin-right:20px;
                    background-color: #019801;
                }
            }
        }

    }
    // правая часть изображения
    &__right-clip {
        position:absolute;
        bottom:0;
        right:0;
        background:url(images/right-clip.png) no-repeat center/cover;
        height:100%;
        width:50%;
    }
   .advantages {
    display:flex;
    flex-flow:column;
    width:100%;
    align-items: center;

    &__h1 {
        @include fonttype(50px);
        margin:140px 0px 100px 0px;
        color:#383838;
    }
    &__circles {
        display:flex;
        margin-bottom:140px;

        &-block:first-child {
            margin-left:0px;
        }
        
        &-block {
            display:flex;
            margin-left:160px;
            align-items: center;
            flex-flow:column;
            text-align: center;
        }
        &-image {
            height:150px;
            width:150px;
            display:flex;
            align-items: center;
            justify-content: center;
            background:white;
            border-radius:100%;
        }
        p{
            margin-top:30px;
            @include fonttype(26px);
            font-weight: 500;
        }
    }
   }
   .product {
    background:white;
    position:relative;
    display:flex;
    flex-flow:column;
    h1 {
        @include fonttype(50px);
        color:#383838;
        font-weight: 600;
        margin:140px 0px 80px 250px;
        position:relative;
    }
    &__all{
        position:absolute;
        right:250px;
        text-decoration: underline;
        top:185px;
        color:#019801;
        @include fonttype(22);
        font-weight:500;
    }
    &__all:visited {
        color:#019801
    }
    }
    .slider {
        width:80%;
        height:440px;
        align-self:center;
        display:flex;
        align-items: center;
        margin-bottom:140px;

        &__arrow-left {
            background:url(images/arrow_left.png) center no-repeat;
            width:25px;
            height:40px;
            margin-right:40px;
            cursor:pointer;
        }
        &__item--km,&__item--kl,&__item--tp,&__item--km2 {
            height:100%;
            width:23%;
            background: url(images/product.png) no-repeat center/cover;
            margin-right:20px;
            display:flex;
            align-items:flex-end;
            text-align: center;
            a{
                @include fonttype(22px);
                font-weight: 500;
                width:100%;
                padding:30px;
                background:rgba(255,255,255,0.8);
            }
        }
        &__arrow-right{
            background:url(images/arrow_right.png) center no-repeat;
            width:25px;
            height:40px;
            margin-left:19px;
            cursor:pointer;
        }
    }
   }
   .projects {
    display:flex;
    flex-flow:column;
    align-items: center;
    width:100%;

    &__h1 {
        @include fonttype(50px);
        font-weight:600;
        color:#383838;
        margin:140px 0px 55px 0px;
    }
    &__block {
        display:flex;
        width:85%;
        align-items:center;

    }
    &__arrow-left {
        cursor:pointer;
        width:30px;
        height:50px;
        background:url(images/arrow_leftB.png) center/cover no-repeat;
        margin-right:60px;
    }
    &__arrow-right {
        cursor:pointer;
        width:30px;
        height:50px;
        background:url(images/arrow_rightB.png) center/cover no-repeat;
        margin-left:60px;
    }
    &__piccolo{
        width:100%;
        height:800px;
        background:url(images/piccolo.png) center/cover no-repeat;
    }
    &__piccolo-text {
        text-align:center;
        display:inline-block;
        padding:20px 0px;
        width:33%;
        @include fonttype(40px);
        background:white;
        margin-top:80px;
        color:#383838;
    }
    &__selectors{
        height:16px;
        width:100px;
        margin:20px 0px 50px 0px;
        display:flex;
        &-item--black {
            width:16px;
            margin-right:10px;
            height:16px;
            background:#383838;
            cursor:pointer;
            border-radius:100%;
        }

        &-item {
            cursor:pointer;
            width:16px;
            margin-right:10px;
            height:16px;
            background:white;
            border-radius:100%;
        }   
    }
    &__button {
        cursor:pointer;
        width:220px;
        height:60px;
        text-align: center;
        @include fonttype(20px);
        color:white;
        font-weight:500;
        background:#019801;
        border:none;
        border-radius:30px;;
        margin-bottom:140px;
    }
   }
    
    .footer {
        height:300px;
        width:100%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background:#383838;
        &__blocks{
            display:flex;
            justify-content: space-evenly;
            width:90%;
        }

        a{
            color:#BDBDBD;
        }
        &__block1 {
            color:#BDBDBD;
            display:flex;
            flex-flow:column;
            align-items: center;
            font-size:18px;
            margin-left:235px;
            font-family: "Rubik", sans-serif;
            &-image {
                margin-bottom:30px;
            }
        }
        &__block2 {
            color:#BDBDBD;
            font-size:18px;
            font-family: "Rubik", sans-serif;

            p{
                margin-bottom:27px;
            }
        }
        &__block3 {
            color:#BDBDBD;
            font-size:18px;
            font-family: "Rubik", sans-serif;

            p{
                margin-bottom:27px;
            }
        }
        &__block4 {
            color:#BDBDBD;
            font-size:18px;
            font-family: "Rubik", sans-serif;
            display:flex;
            &--left {
                justify-self: flex-start;
                margin-right:40px;

                p{
                    margin-bottom:27px;
                }
            }
            &--right{
                justify-self: flex-end;
                
                p{
                   margin-top:27px;
                }
            }
           
        }
    }


// production.html СТРАНИЦА ПРОДУКЦИИ 

.container__prod {
    background:#EAEAEA;
    display:flex;
    align-items: center;
    flex-direction: column;
    h1{
        margin:100px 0px 80px 0px;
        @include fonttype(50px);
        font-weight: 600;
        color:#383838;
    }
    .prodkm {
        display:flex;
        background:white;
        margin:0px 250px 50px 250px;
        height:400px;
        width:1420px;

        &__slider {
            display:flex;
            align-items: center;
            margin:0px 95px 0px 50px;

            &--leftarr{
                background:url(images/arr_left-small.png);
                width:20px;
                height:30px;
                margin-right:30px;
                cursor:pointer;
            }
            &--imgspan {
                display:flex;
                margin:40px 0px 30px 0px;
                align-items: center;
                flex-flow:column;
            }
            &--img {
                img{
                    width:220px;
                    height:280px;
                }
            }
            &--span {
                display:flex;
                margin-top:20px;
            }
            &--span1 {
                width:12px;
                height:12px;
                background:#383838;
                border-radius:100%;
                margin-right:5px;
                cursor:pointer;
            }
            &--span2 {
                cursor:pointer;
                width:12px;
                margin-right:10px;
                height:12px;
                background:#EAEAEA;
                border-radius:100%;
            }
            &--rightarr {
                background:url(images/arr_right-small.png);
                width:20px;
                height:30px;
                margin:0px 0px 0px 30px;
                cursor:pointer;
            }
        }
        &__text {
            display:flex;
            flex-flow:column;
            @include fonttype(20px);

            &-large {
                width:460px;
                color:#1E1E1E;
            }
        }
        &--h2 {
            margin:40px 0px 20px 0px;
            @include fonttype(30px);
        }
        &__border {
            width:1px;
            height:80%;
            border:1px solid #EAEAEA;
            align-self:center;
            margin:0px 70px;
        }
        &--button-link{
            align-self:center;
        }
        &--button {
            width:220px;
            @include fonttype(20px);
            color:white;
            height:60px;
            border:none;
            background:#019801;
            border-radius:30px;
            align-self:center;
            margin-right:75px;
            cursor:pointer;
        }
    }

    .prodkl {
        display:flex;
        background:white;
        margin:0px 250px 50px 250px;
        height:400px;
        width:1420px;

        &__slider {
            display:flex;
            align-items: center;
            margin:0px 95px 0px 50px;

            &--leftarr{
                background:url(images/arr_left-small.png);
                width:20px;
                height:30px;
                margin-right:30px;
                cursor:pointer;
            }
            &--imgspan {
                display:flex;
                margin:40px 0px 30px 0px;
                align-items: center;
                flex-flow:column;
            }
            &--img {
                img{
                    width:220px;
                    height:280px;
                }
            }
            &--span {
                display:flex;
                margin-top:20px;
            }
            &--span1 {
                width:12px;
                height:12px;
                background:#383838;
                border-radius:100%;
                margin-right:5px;
                cursor:pointer;
            }
            &--span2 {
                cursor:pointer;
                width:12px;
                margin-right:10px;
                height:12px;
                background:#EAEAEA;
                border-radius:100%;
            }
            &--rightarr {
                background:url(images/arr_right-small.png);
                width:20px;
                height:30px;
                margin:0px 0px 0px 30px;
                cursor:pointer;
            }
        }
        &__text {
            display:flex;
            flex-flow:column;
            @include fonttype(20px);

            &-large {
                width:460px;
                color:#1E1E1E;
            }
        }
        &--h2 {
            margin:40px 0px 20px 0px;
            @include fonttype(30px);
        }
        &__border {
            width:1px;
            height:80%;
            border:1px solid #EAEAEA;
            align-self:center;
            margin:0px 70px;
        }
        &--button-link{
            align-self:center;
        }
        &--button {
            width:220px;
            @include fonttype(20px);
            color:white;
            height:60px;
            border:none;
            background:#019801;
            border-radius:30px;
            align-self:center;
            margin-right:75px;
            cursor:pointer;
    
        }
    }
    .prodtp {
        display:flex;
        background:white;
        margin:0px 250px 250px 250px;
        height:400px;
        width:1420px;

        &__slider {
            display:flex;
            align-items: center;
            margin:0px 95px 0px 50px;

            &--leftarr{
                background:url(images/arr_left-small.png);
                width:20px;
                height:30px;
                margin-right:30px;
                cursor:pointer;
            }
            &--imgspan {
                display:flex;
                margin:40px 0px 30px 0px;
                align-items: center;
                flex-flow:column;
            }
            &--img {
                img{
                    width:220px;
                    height:280px;
                }
            }
            &--span {
                display:flex;
                margin-top:20px;
            }
            &--span1 {
                width:12px;
                height:12px;
                background:#383838;
                border-radius:100%;
                margin-right:5px;
                cursor:pointer;
            }
            &--span2 {
                cursor:pointer;
                width:12px;
                margin-right:10px;
                height:12px;
                background:#EAEAEA;
                border-radius:100%;
            }
            &--rightarr {
                background:url(images/arr_right-small.png);
                width:20px;
                height:30px;
                margin:0px 0px 0px 30px;
                cursor:pointer;
            }
        }
        &__text {
            display:flex;
            flex-flow:column;
            @include fonttype(20px);

            &-large {
                width:460px;
                color:#1E1E1E;
            }
        }
        &--h2 {
            margin:40px 0px 20px 0px;
            @include fonttype(30px);
        }
        &__border {
            width:1px;
            height:80%;
            border:1px solid #EAEAEA;
            align-self:center;
            margin:0px 70px;
        }
        &--button-link{
            align-self:center;
        }
        &--button {
            width:220px;
            @include fonttype(20px);
            color:white;
            height:60px;
            border:none;
            background:#019801;
            border-radius:30px;
            align-self:center;
            margin-right:75px;
            cursor:pointer;
    
        }
    }
}

// termolat-km.html СТраница подробнее

.more {
    display:flex;
    justify-content: center;
    background:#EAEAEA;
    &__cont {
        width:1420px;
        background:white;
        display:flex;
        flex-flow:column;
        margin:100px 0px;
    }
    &__first-block {
        display:flex;
    }
    &__termolatkm--small{
        margin:100px 20px 0px 120px;
        display:flex;
        flex-flow:column;
        img {
            margin-bottom:20px;
            cursor:pointer;
        }
    }
    &__termolatkm--big {
        margin:100px 0px;
        img {
            height:580px;
            width:460px;

        }
    }
    
    &__text {
        width:460px;
        height:580px;
        margin:100px 120px 55px 140px;
        h2{
            color:red;
            @include fonttype(40px);
            font-weight:600; 
            margin-bottom:20px;
        }
        p {
            @include fonttype(20px);
        }
        &--1p {
            margin-bottom:15px;
        }
    }
    &__button {
        width:340px;
        height:80px;
        border:none;
        margin-top:40px;
        border-radius:50px;
        @include fonttype(22px);
        color:white;
        font-weight:500px;
        background:#019801;
        cursor:pointer;
    }

    &__second-block {
        display:flex;
        margin:0px 0px 50px 120px
    }

    &__button--advantages  {
        border:#019801 2px solid;
        border-radius:35px;
        background:white;
        @include fonttype(16px);
        color:#019801;
        font-weight:500;
        width:260px;
        cursor:pointer;
        height:60px;
    }
    &__button--stats {
        border:#D2D2D2 1px solid;
        margin-left:20px;
        border-radius:35px;
        background:white;
        cursor:pointer;
        @include fonttype(16px);
        color:#717171;
        font-weight:500;
        width:260px;
        height:60px;
    }
    &__button--applications {
        border:#D2D2D2 1px solid;    
        margin-left:20px;
        border-radius:35px;
        background:white;
        cursor:pointer;
        @include fonttype(16px);
        color:#717171;
        font-weight:500;
        width:260px;
        height:60px;
    }
    &__third-block {
        h2 {
            margin:0px 0px 20px 120px;
        }
    }
    &__list-km {
        margin:0px 0px 100px 120px;
        width:930px;
        height:100%;
        @include fonttype(20px);

        li {
            margin-bottom:15px;
        }
    }
    
}
// ОБЛАСТЬ ПРИМЕНЕНИЯ 

.more {
    &__button--applications-2   {
        border:#019801 2px solid;
        border-radius:35px;
        background:white;
        @include fonttype(16px);
        color:#019801;
        font-weight:500;
        width:260px;
        cursor:pointer;
        height:60px;
        margin-left:20px;
    }
    &__button--stats-2 {
        border:#D2D2D2 1px solid;
        margin-left:20px;
        border-radius:35px;
        background:white;
        cursor:pointer;
        @include fonttype(16px);
        color:#717171;
        font-weight:500;
        width:260px;
        height:60px;
    }
    &__button--advantages-2 {
        border:#D2D2D2 1px solid;    
        margin-left:20px;
        border-radius:35px;
        background:white;
        cursor:pointer;
        @include fonttype(16px);
        color:#717171;
        font-weight:500;
        width:260px;
        height:60px;
    }
}
// Характеристики
.more {
    &__button--stats-3 {
        border:#019801 2px solid;
        border-radius:35px;
        background:white;
        @include fonttype(16px);
        color:#019801;
        font-weight:500;
        width:260px;
        cursor:pointer;
        height:60px;
        margin-left:20px;
    }
    &__button--applications-3{
        border:#D2D2D2 1px solid;
        margin-left:20px;
        border-radius:35px;
        background:white;
        cursor:pointer;
        @include fonttype(16px);
        color:#717171;
        font-weight:500;
        width:260px;
        height:60px;
    }
    &__button--advantages-3 {
        border:#D2D2D2 1px solid;    
        margin-left:20px;
        border-radius:35px;
        background:white;
        cursor:pointer;
        @include fonttype(16px);
        color:#717171;
        font-weight:500;
        width:260px;
        height:60px;
    }
}