@mixin fonttype($pix:1) {
    font-family: "Rubik", sans-serif;
    font-size:($pix); 
}

* {
    box-sizing:border-box;
    margin:0px;
    padding:0px; 
    a{
        color:black;
        text-decoration: none;
    }
}
// Шапка
.header {
    display:flex;
    height:140px;
    width:100%;
    z-index:40;
    align-items:center;
    // логотип
    &__logo{
        height:105px;
        width:200px;
        margin-left:80px;
    }
    // навигация
    &__menu {
        @include fonttype( 20px);
        margin:0 auto;
        &-list {
            display:flex;
            list-style:none;
        }
        &-item {
            margin-right:70px;
        }        
    }
}
.container {
    background:#EAEAEA;
    // блок с черными векторами и изображением
    &__clip {
        margin-left:20px;
        height:938px;
        width:100%;
        overflow:hidden;
        position:relative;

    }
    // левая часть изображения (черный фон с векторами) текст и кнопки
    .left-clip {
        background:#383838;
        clip-path: polygon(0 0, 87% 0, 100% 15%, 87% 100%, 0 100%, 0% 50%);
        z-index:5;
        height:100%;
        width:60%;
        display:flex;
        justify-content: flex-start;
        position:relative;
        // Векторный блок на черном фоне
        &__main-block {
            width:40%;
            height:100%;
            position:absolute;
            right:10% ;
            z-index:10;
            top:0px;
            // вектор 1
            &--first {
                right:20%;
                float:right;
                width:40%;   
                z-index:10;         
                height:100%;               
            }
            // вектор 2
            &--second {
                right:20%;
                float:right;
                width:50%;
            }
        }
        .block-text {
            position:absolute;
            width:70%;
            left:115px;
            top:150px;
            display:flex;
            align-items: center;
            flex-flow:column;
            z-index:15;
            &__text-1 {
                @include fonttype( 50px);
                font-weight:600;
                text-align: center;
                color:white;
                line-height: 140%;
                margin-bottom:50px;
            }
            &__text-2 {
                @include fonttype( 20px);
                color:white;
                width:60%;
                text-align: center;
                line-height: 140%;
                margin-bottom:80px;
                
            }
            &__buttons {
                white-space:nowrap;
                &-first,&-second{
                    height:90px;
                    width:340px;
                    font-weight: 500;
                    color:white;
                    border-radius:45px;
                    border:none;
                    font-family: "Rubik", sans-serif;
                    font-size:20px;
                    margin-right:20px;
                    background-color: #019801;
                }
            }
        }

    }
    // правая часть изображения
    &__right-clip {
        position:absolute;
        bottom:0;
        right:0;
        background:url(images/right-clip.png) no-repeat center/cover;
        height:100%;
        width:50%;
    }
   .advantages {
    display:flex;
    flex-flow:column;
    width:100%;
    align-items: center;

    &__h1 {
        @include fonttype(50px);
        margin:140px 0px 100px 0px;
    }
    &__circles {
        display:flex;
        &--prod,&--speed,&--truck,&--check {
            padding:50px;
            background:white;
            border-radius:50%;
        }
    }
   }
    }



